@import '@/styles/variables.scss';

.icon {

    &.small {
        svg {
            width: 10px;
            height: 14px;
            vertical-align: middle;
            margin-left: 4px;
            margin-bottom: .375em;
            margin-top: .125em;
        }
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }

    &.right {
        svg {
            transform: rotate(270deg);
        }
    }

    &.left {
        svg {
            transform: rotate(90deg);
        }
    }
    &.up {
        svg {
            transform: rotate(180deg);
        }
    }

    &.alt {
        color: $default-standard-text-color;
    }

}