.icon {

    &.small {
        svg {
            width: 14px;
            height: 9px;
        }
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }

    &.right {
        svg {
            transform: rotate(270deg);
        }
    }

    &.left {
        svg {
            transform: rotate(90deg);
        }
    }
    &.up {
        svg {
            transform: rotate(180deg);
        }
    }

}