@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

$max-desktop-width: 1200px;
$max-mobile-width: 480px;
$max-tablet-width: 960px;

$container-padding: 5px;
$section-padding: 15px 30px;

// mixins


// layouts
.container {
    display: block;
    position: relative;
}

.section {
    padding: $section-padding;
}

.navbar {
    position: relative;
    min-width: fit-content;
    min-height: 60px;
    background-color: $default-header-color;
    color: $default-text-colour;
}

// grid columns
.columns {
    width: 100%;
    display: inline-flex;
}

.column {
    contain: content;
    box-sizing: border-box;
}

.is-2,.is-3,.is-4,.is-5,.is-6,.is-7,.is-8,.is-9 {
    float: left;
}

// grid increments
// mobile grid
// desktop grid
.is-2 {
    width: 100%;
    @include for-sm-up {
        width: 40%;
    }
    @include for-md-up {
        width: 20%;
    }
}

.is-3 {
    width: 100%;
    @include for-sm-up {
        width: 50%;
    }
    @include for-md-up {
        width: 33.3333%;
    }
}

.is-4 {
    width: 100%;
    @include for-sm-up {
        width: 100%;
    }       
    @include for-md-up {
        width: 40%;
    }
}

.is-5 {
    width: 100%;
    @include for-sm-up {
        width: 100%;
    } 
    @include for-md-up {
        width: 50%;
    }
}

.is-6 {
    width: 100%;
    @include for-sm-up {
        width: 100%;
    }
    @include for-md-up {
        width: 66.6666%;
    }
}

.is-7 {
    width: 100%;
    @include for-sm-up {
        width: 100%;
    }
    @include for-md-up {
        width: 70%;
    }
}

.is-8 {
    width: 100%;
    @include for-sm-up {
        width: 100%;
    }
    @include for-md-up {
        width: 80%;
    }
}

.is-9 {
    width: 100%;
    @include for-sm-up {
        width: 100%;
    }
    @include for-md-up {
        width: 90%;
    }
}

.is-full {
    width: 100%;
}

// alignment

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

// spacing
.gap-5 {
    margin: 5px 10px;
}

.gap-10 {
    margin: 10px 20px;
}



